<!DOCTYPE html>
<html lang="en">
 <%- include('./particals/head.ejs') %>
 <body>
  <%- include('./particals/nav.ejs') %>

  <h1>404 Page not found</h1>

  <script src="./app.js"></script>
 </body>
</html>
