<!DOCTYPE html>
<html lang="en">
 <%- include('./particals/head/head-about.ejs') %>
 <body class="about">
  <%- include('./particals/nav/nav-about.ejs') %>
  <div class="about-home"></div>

  <script src="./app.js"></script>
 </body>
</html>
