<!DOCTYPE html>
<html lang="en">
  <%- include('./particals/head.ejs') %>
  <body class="about">
    <%- include('./particals/nav.ejs') %>
    <div class="about-home"></div>

    <script src="./app.js"></script>
  </body>
</html>
