<!DOCTYPE html>
<html lang="en">
 <%- include('./particals/head/head-about.ejs') %>
 <body class="about">
  <%- include('./particals/nav/nav-about.ejs') %>
  <div class="extra-spacing"></div>
  <div class="about-section" id="about">
   <div class="main-about">
    <div class="left-about">
     <img src="./media/about.jpg" />
    </div>
    <div class="right-about">
     <div class="extra-about"></div>
     <div class="title-about">
      <h1>About Foodies</h1>
     </div>
     <div class="desc-about">
      <p>
       Foodies is a site which helps the people who want to make thier life
       healthy and tasty especially the fitness freaks will love the cooking
       section of FOODies.
       <br />
       FOODies also have online food section. which helps people to expore more
       online food place.
       <br />
       FOODies have Recipe section which contain all the Cooking section
       recipes.
      </p>
     </div>
     <div class="me">
      <p>
       Made by
       <a href="https://ayushrameja-b328c.web.app/">Ayush Rameja</a>
       &
       <a href="https://github.com/ArnoldKevinDesouza">Arnold Desouza</a>
      </p>
     </div>
    </div>
   </div>
  </div>

  <script src="./app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
  <script>
   const tlabout = gsap.timeline({
    scrollTrigger: '.about',
    start: 'top',
   });

   tlabout.from('.left-about img', { x: -200, opacity: 0, duration: 1.5 });
   tlabout.from(
    '.right-about h1, .right-about',
    { y: 200, opacity: 0, duration: 1.5 },
    '-=1'
   );
  </script>
 </body>
</html>
