<!DOCTYPE html>
<html lang="en">
 <%- include('./particals/head/head-cooking.ejs') %>
 <body>
  <%- include('./particals/nav/nav-cooking.ejs') %>
  <div class="cooking-home">
   <div class="text-floating">
    <h1>Cooking</h1>
    <h1>Section</h1>
   </div>
   <div class="scroll">
    <h1 class="animation-bounce">
     <i class="fas fa-angle-double-down"></i>
    </h1>
   </div>
  </div>
  <div class="extra-spacing"></div>
  <div class="all-things">
   <div class="header"></div>
   <div class="heading-all">
    <h1>All Meals & Dishes</h1>
    <div class="add-own">
     <a href="/add-own">Add your own</a>
     <a href="/meals">All Meals</a>
     <a href="/recipe">All Recipes</a>
    </div>
   </div>
   <hr />
   <div class="main-cooking">
    <div class="all-meals">
     <div class="heading-meals">
      <h1>Meals</h1>
     </div>
     <div class="meals">
      <div class="line">
       <div class="cooking-card">
        <div class="cooking-card-header">
         <h2>Pre Workout Meals</h2>
        </div>
        <div class="cooking-image">
         <img src="./media/prework.jpg" />
        </div>
        <div class="link-cooking">
         <a href="/meals#prework">Watch This</a>
        </div>
       </div>
       <div class="cooking-card">
        <div class="cooking-card-header">
         <h2>Post Workout Meals</h2>
        </div>
        <div class="cooking-image">
         <img src="./media/postwork.jpg" />
        </div>
        <div class="link-cooking">
         <a href="/meals#postwork">Watch This</a>
        </div>
       </div>
       <div class="cooking-card">
        <div class="cooking-card-header">
         <h2>Many More Meals</h2>
        </div>
        <div class="cooking-image">
         <img src="./media/dieting.jpg" />
        </div>
        <div class="link-cooking">
         <a href="/meals#diet">Explore More</a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="all-dishes">
     <div class="heading-dishes">
      <h1>Dishes</h1>
     </div>
     <div class="dishes">
      <div class="line">
       <div class="cooking-card">
        <div class="cooking-card-header">
         <h2>Black Bean Pasta</h2>
        </div>
        <div class="cooking-image">
         <img src="./media/Backbeen.jpg" />
        </div>
        <div class="link-cooking">
         <a href="/recipe#prework">Watch This</a>
        </div>
       </div>
       <div class="cooking-card">
        <div class="cooking-card-header">
         <h2>Oats Porridge</h2>
        </div>
        <div class="cooking-image">
         <img src="./media/oats-porridge.jpg" />
        </div>
        <div class="link-cooking">
         <a href="/recipe#postwork">Watch This</a>
        </div>
       </div>
       <div class="cooking-card">
        <div class="cooking-card-header">
         <h2>Deviled Egg Sailboats</h2>
        </div>
        <div class="cooking-image">
         <img src="./media/deviled-eggs.jpg" />
        </div>
        <div class="link-cooking">
         <a href="/recipe#diet">Watch This</a>
        </div>
       </div>
      </div>
      <div class="line">
       <div class="cooking-card">
        <div class="cooking-card-header">
         <h2>Boiled Chicken</h2>
        </div>
        <div class="cooking-image">
         <img src="./media/Chiken.jpg" />
        </div>
        <div class="link-cooking">
         <a href="/recipe#foodies">Watch This</a>
        </div>
       </div>
       <div class="cooking-card">
        <div class="cooking-card-header">
         <h2>Panner Pizza</h2>
        </div>
        <div class="cooking-image">
         <img src="./media/pannerpizza.jpg" />
        </div>
        <div class="link-cooking">
         <a href="/recipe#cheat">Watch This</a>
        </div>
       </div>
       <div class="cooking-card">
        <div class="cooking-card-header">
         <h2>Chicken Salad</h2>
        </div>
        <div class="cooking-image">
         <img src="./media/chicken.jpg" />
        </div>
        <div class="link-cooking">
         <a href="/recipe#comingsoon">Watch This</a>
        </div>
       </div>
      </div>
      <div class="line">
       <div class="cooking-card">
        <div class="cooking-card-header">
         <h2>Coming Soon</h2>
        </div>
        <div class="cooking-image">
         <img src="./media/comingsoon.jpg" />
        </div>
        <div class="link-cooking">
         <a href="#">Coming Soon</a>
        </div>
       </div>
       <div class="cooking-card">
        <div class="cooking-card-header">
         <h1>Coming Soon</h1>
        </div>
        <div class="cooking-image">
         <img src="./media/comingsoon.jpg" />
        </div>
        <div class="link-cooking">
         <a href="#">Coming Soon</a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>

  <script src="./app.js"></script>
 </body>
</html>
