<!DOCTYPE html>
<html lang="en">
  <%- include('./particals/head.ejs') %>
  <body>
    <%- include('./particals/nav.ejs') %>
    <div class="main-menu">
      <video src="./media/mainMenu2.mp4" muted autoplay loop></video>
      <div class="heading">
        <h1>Hungry? Dont Worry!</h1>
        <h3>Foodies has everything.</h3>
      </div>
    </div>
    <div class="features">
      <div class="header"></div>
      <div class="card-section">
        <div class="header-features">
          <h1>Categories</h1>
        </div>
        <hr />
        <div class="cards">
          <div class="card">
            <div class="card-head">
              <h1>Cooking</h1>
            </div>
            <div class="card-content">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta
                perferendis laborum cumque ducimus molestiae? Asperiores.
              </p>
            </div>
            <div class="card-btn">
              <a href="#">Go to Cooking</a>
            </div>
          </div>
          <div class="card">
            <div class="card-head">
              <h1>Order Online</h1>
            </div>
            <div class="card-content">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta
                perferendis laborum cumque ducimus molestiae? Asperiores.
              </p>
            </div>
            <div class="card-btn">
              <a href="#">Order Some Food</a>
            </div>
          </div>
          <div class="card">
            <div class="card-head">
              <h1>Comparison</h1>
            </div>
            <div class="card-content">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta
                perferendis laborum cumque ducimus molestiae? Asperiores.
              </p>
            </div>
            <div class="card-btn">
              <a href="#">Coming Soon</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-section">
      <div class="header"></div>
      <div class="form-section">
        <div class="form-header">
          <h1>Contact</h1>
        </div>
        <hr />
        <div class="all-form">
          <div class="left-form">
            <form action="#">
              <div class="contact-form-header">
                <h1>Send anything :)</h1>
              </div>
              <div class="name">
                <label for="name">Name</label>
                <input
                  type="text"
                  name="name"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="email">
                <label for="email">Email</label>
                <input
                  type="email"
                  name="email"
                  placeholder="Your Email"
                  required
                />
              </div>
              <div class="subject">
                <label for="subject">Subject</label>
                <input
                  type="text"
                  name="Subject"
                  placeholder="Anything"
                  required
                />
              </div>
              <div class="message">
                <label for="message">Message</label>
                <textarea
                  name="message"
                  placeholder="Message"
                  cols="1"
                  rows="1"
                ></textarea>
              </div>
              <div class="submit">
                <input type="submit" value="Send" />
              </div>
            </form>
          </div>
          <hr />
          <div class="right-form">
            <div class="right-link-header">
              <h1>Or Find Us Here</h1>
            </div>
            <div class="links">
              <div class="ayush">
                <div class="name-link">
                  <h1>Ayush Rameja</h1>
                </div>
                <div class="img">
                  <img src="./media/ayush_foodies.jpg" />
                </div>
                <div class="social-links">
                  <div class="all-social-links">
                    <a href="#">Github</a>
                    <a href="#">Twitter</a>
                    <a href="#">Portfolio</a>
                  </div>
                </div>
              </div>
              <div class="arnold">
                <div class="name-link">
                  <h1>Arnold Kevin Desouza</h1>
                </div>
                <div class="img">
                  <img src="./media/arnold_foodies.jpg" />
                </div>
                <div class="social-links">
                  <div class="all-social-links">
                    <a href="#">Github</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
