<!DOCTYPE html>
<html lang="en">
  <%- include('./particals/head.ejs') %>
  <body>
    <%- include('./particals/loginNav.ejs') %>
    <h1>Login</h1>
    <script src="./app.js"></script>
  </body>
</html>
