<!DOCTYPE html>
<html lang="en">
  <%- include('./particals/head.ejs') %>
  <body>
    <%- include('./particals/nav.ejs') %>
    <div class="order-home"></div>
    <div class="all-websites">
      <div class="header"></div>
      <div class="index-websites"></div>
      <div class="zomato"></div>
      <div class="swiggy"></div>
      <div class="dominos"></div>
      <div class="pizzahut"></div>
      <div class="kfc"></div>
      <div class="Foodpanda"></div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
