<!DOCTYPE html>
<html lang="en">
 <%- include('./particals/head/head-order.ejs') %>
 <body>
  <%- include('./particals/nav/nav-order.ejs') %>
  <div class="order-home">
   <div class="text-floating">
    <h1>Order</h1>
    <h1>Section</h1>
   </div>
   <div class="scroll">
    <h1 class="animation-bounce">
     <i class="fas fa-angle-double-down"></i>
    </h1>
   </div>
  </div>
  <div class="all-websites nothing">
   <div class="fixed-section">
    <div class="container-index">
     <div class="header-index">
      <h1>All Websites</h1>
     </div>
     <div class="content-index-website" id="allweb">
      <div class="zomato">
       <a class="zomato" href="#zomato">Zomato</a>
      </div>
      <div class="swiggy">
       <a class="swiggy" href="#swiggy">Swiggy</a>
      </div>
      <div class="dominos">
       <a class="dominos" href="#dominos">Dominos</a>
      </div>
      <div class="pizzahut">
       <a class="pizzahut" href="#pizzahut">Pizza Hut</a>
      </div>
      <div class="kfc">
       <a class="kfc" href="#kfc">KFC</a>
      </div>
      <div class="foodpanda">
       <a class="foodpanda" href="#foodpanda">FoodPanda</a>
      </div>
     </div>
    </div>
   </div>
   <div class="scroll-section">
    <div class="webpage" id="zomato">
     <div class="zomatoscroll">
      <div class="webpage-image zomat">
       <h1>ZOMATO</h1>
      </div>
      <div class="webpage-content">
       <div class="about-website">
        <h2>about :</h2>
        <p>
         Zomato is a restaurant aggregator and food delivery platform founded in
         2008 by Deepinder Goyal and Pankaj Chaddah. Zomato provides
         information, menus and user-reviews of restaurants as well as food
         delivery options from partner restaurants in select cities.
        </p>
       </div>
       <div class="benefits">
        <h2>benefits :</h2>
        <p>
         <li>
          Offers food delivery services in 10000+ cities across 24 countries
         </li>
         <li>The website has more than 100 million active foodies</li>
         <li>
          Foodies can login and add their reviews about restaurants and food
         </li>
        </p>
       </div>
      </div>
      <div class="link">
       <a href="https://www.zomato.com/">Go To Zomato</a>
      </div>
     </div>
    </div>
    <div class="webpage" id="swiggy">
     <div class="swiggyscroll">
      <div class="webpage-image swigg">
       <h1>SWIGGY</h1>
      </div>
      <div class="webpage-content">
       <div class="about-website">
        <h2>about :</h2>
        <p>
         Swiggy is an Indian food delivery website headquartered in Bangalore.
         It was founded by Sriharsha Majety and Nandan Reddy in 2014.
        </p>
       </div>
       <div class="benefits">
        <h2>benefits :</h2>
        <p>
         <li>
          Users can order food online, search for restaurants or make table
          reservations
         </li>
         <li>
          The prime features are no minimum order, live order tracking and
          superfast delivery
         </li>
         <li>It has both desktop and mobile app version</li>
        </p>
       </div>
      </div>
      <div class="link">
       <a href="https://www.swiggy.com/">Go To Swiggy</a>
      </div>
     </div>
    </div>
    <div class="webpage" id="dominos">
     <div class="dominosscroll">
      <div class="webpage-image domino">
       <h1>DOMINOS</h1>
      </div>
      <div class="webpage-content">
       <div class="about-website">
        <h2>about :</h2>
        <p>
         Dominos is famous for pizzas. This multinational food chain restaurant
         was first established in Ypsilanti, Michigan, U.S in the year 1960. It
         is one of the first companies that offered home delivery services.
        </p>
       </div>
       <div class="benefits">
        <h2>benefits :</h2>
        <p>
         <li>
          Users can order pizzas online or find Dominos restaurants nearby
         </li>
         <li>The portal also organizes birthday parties</li>
        </p>
       </div>
      </div>
      <div class="link">
       <a href="https://pizzaonline.dominos.co.in/?">Go To Dominos</a>
      </div>
     </div>
    </div>
    <div class="webpage" id="pizzahut">
     <div class="pizzahutscroll">
      <div class="webpage-image pizzahu">
       <h1>PIZZA HUT</h1>
      </div>
      <div class="webpage-content">
       <div class="about-website">
        <h2>about :</h2>
        <p>
         Pizza Hut is a restaurant chain that offers home delivery services of
         pizzas. This restaurant chain was founded in Wichita, Kansas, United
         States in 1958. Currently, it operates from its headquarters in Plano,
         Texas, United States. The founders are Dan Carney and Frank Carney
        </p>
       </div>
       <div class="benefits">
        <h2>benefits :</h2>
        <p>
         <li>Pizza Hut has more than 18,000 outlets across the globe</li>
         <li>It offers both takeaway and home delivery options</li>
        </p>
       </div>
      </div>
      <div class="link">
       <a href="https://www.pizzahut.co.in/">Go To Pizza Hut</a>
      </div>
     </div>
    </div>
    <div class="webpage" id="kfc">
     <div class="kfcscroll">
      <div class="webpage-image kf">
       <h1>KFC</h1>
      </div>
      <div class="webpage-content">
       <div class="about-website">
        <h2>about :</h2>
        <p>
         KFC (abbr. for Kentucky Fried Chicken) is an American fast food
         restaurant chain headquartered in Louisville, Kentucky that specializes
         in fried chicken. It is the world's second-largest restaurant chain (as
         measured by sales) after McDonald's, with 22,621 locations globally in
         150 countries as of December 2019.
        </p>
       </div>
       <div class="benefits">
        <h2>benefits :</h2>
        <p>
         <li>
          Offers food delivery services in 10000+ cities across 24 countries.
         </li>
         <li>The website has more than 100 million active foodies.</li>
         <li>
          Foodies can login and add their reviews about restaurants and food.
         </li>
        </p>
       </div>
      </div>
      <div class="link">
       <a href="https://online.kfc.co.in/home">Go To KFC</a>
      </div>
     </div>
    </div>
    <div class="webpage" id="foodpanda">
     <div class="foodpandascroll">
      <div class="webpage-image foodpand">
       <h1>FOOD PANDA</h1>
      </div>
      <div class="webpage-content">
       <div class="about-website">
        <h2>about :</h2>
        <p>
         Foodpanda was founded in 2012 by Lukas Nagel and Rico Wyder in
         South-East Asia and launched across Singapore, Malaysia, Indonesia,
         Thailand and in 2014 in the Philippines.
        </p>
       </div>
       <div class="benefits">
        <h2>benefits :</h2>
        <p>
         <li>
          The prime features are no minimum order, live order tracking and
          superfast delivery
         </li>
         <li>It has both desktop and mobile app version</li>
        </p>
       </div>
      </div>
      <div class="link">
       <a href="https://www.foodpanda.com/">Go To Foodpanda</a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <script src="./app.js"></script>
 </body>
</html>
