<!DOCTYPE html>
<html lang="en">
  <%- include('./particals/head.ejs') %>
  <body>
    <%- include('./particals/nav.ejs') %>
    <div class="order-home"></div>
    <div class="all-websites nothing">
      <div class="fixed-section">
        <div class="container-index">
          <div class="header-index">
            <h1>All Websites</h1>
          </div>
          <div class="content-index-website">
            <div class="zomato">
              <a class="zomato" href="#zomato">Zomato</a>
            </div>
            <div class="swiggy">
              <a class="swiggy" href="#swiggy">Swiggy</a>
            </div>
            <div class="dominos">
              <a class="dominos" href="#dominos">Dominos</a>
            </div>
            <div class="pizzahut">
              <a class="pizzahut" href="#pizzahut">Pizza Hut</a>
            </div>
            <div class="kfc">
              <a class="kfc" href="#kfc">KFC</a>
            </div>
            <div class="foodpanda">
              <a class="foodpanda" href="#foodpanda">FoodPanda</a>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-section">
        <div class="webpage" id="zomato">
          <div class="zomatoscroll">
            <h1>Zomato</h1>
          </div>
        </div>
        <div class="webpage" id="swiggy">
          <div class="swiggyscroll">
            <h1>Swiggy</h1>
          </div>
        </div>
        <div class="webpage" id="dominos">
          <div class="dominosscroll">
            <h1>Dominos</h1>
          </div>
        </div>
        <div class="webpage" id="pizzahut">
          <div class="pizzahutscroll">
            <h1>Pizza Hut</h1>
          </div>
        </div>
        <div class="webpage" id="kfc">
          <div class="kfcscroll">
            <h1>KFC</h1>
          </div>
        </div>
        <div class="webpage" id="foodpanda">
          <div class="foodpandascroll">
            <h1>Foodpanda</h1>
          </div>
        </div>
      </div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
