<!DOCTYPE html>
<html lang="en">
 <%- include('./particals/head/head-recipe.ejs') %>
 <body>
  <%- include('./responsive.ejs') %>
  <div class="all-recipe-all">
   <%- include('./particals/nav/nav-recipe.ejs') %>
   <div class="recipe-home">
    <div class="scroll">
     <h1 class="animation-bounce">
      <i class="fas fa-angle-double-down"></i>
     </h1>
    </div>
   </div>
   <div class="all-websites nothing">
    <div class="fixed-section">
     <div class="container-index">
      <div class="header-index">
       <h1>All Recipes</h1>
      </div>
      <div class="content-index-website" id="allweb">
       <div class="zomato">
        <a class="zomato" href="#prework">Black Bean Pasta</a>
       </div>
       <div class="swiggy">
        <a class="swiggy" href="#postwork">Oats Porridge</a>
       </div>
       <div class="dominos">
        <a class="dominos" href="#diet">Deviled Egg Sailboats</a>
       </div>
       <div class="pizzahut">
        <a class="pizzahut" href="#foodies">Boiled Chicken</a>
       </div>
       <div class="kfc">
        <a class="kfc" href="#cheat">Panner Pizza</a>
       </div>
       <div class="foodpanda">
        <a class="foodpanda" href="#comingsoon">Chicken Salad</a>
       </div>
      </div>
     </div>
    </div>
    <div class="scroll-section">
     <div class="webpage" id="prework">
      <div class="zomatoscroll">
       <div class="webpage-image zomat">
        <h1>Black Bean Pasta</h1>
       </div>
       <div class="webpage-content">
        <div class="about-website">
         <h2>about :</h2>
         Black bean pasta is made from just black bean flour, and offers 14
         grams of protein, a whopping 15 grams of fiber, and 35 grams of carbs
         per 200-calorie serving, says Wright. Like edamame noodles, black bean
         pasta is higher in calories but those calories are more balanced with
         protein and fiber than plain old pasta. While the pasta is cooking,
         sauté garlic, onions, some frozen corn, and spinach in a sauce pan,
         suggests Jones. Toss your veggies into the pasta and top with salsa and
         avocado.
        </div>
       </div>
       <div class="link">
        <a
         href="https://www.tasteofhome.com/recipes/vegetarian-black-bean-pasta/"
         >Watch this</a
        >
       </div>
      </div>
     </div>
     <div class="webpage" id="postwork">
      <div class="swiggyscroll">
       <div class="webpage-image swigg">
        <h1>Oats porridge</h1>
       </div>
       <div class="webpage-content">
        <div class="about-website">
         <h2>about :</h2>
         <p>
          Oats porridge recipe with step by step pics  quick oats porridge made
          with quick-cooking oats or rolled oats. This is an easy, low-fat
          porridge made in just 6 minutes. Oats porridge is one porridge I had a
          dislike for a long time. It was one food which was given to me twice
          or thrice every day as a toddler and even later. Sometimes too much of
          anything does more harm than good. So naturally, I avoided oats in my
          life like anything.
         </p>
        </div>
       </div>
       <div class="link">
        <a href="https://www.vegrecipesofindia.com/oats-porridge-recipe/"
         >Match this</a
        >
       </div>
      </div>
     </div>
     <div class="webpage" id="diet">
      <div class="dominosscroll">
       <div class="webpage-image domino">
        <h1>Deviled Egg Sailboats</h1>
       </div>
       <div class="webpage-content">
        <div class="about-website">
         <h2>about :</h2>
         <p>
          Halve eggs and transfer the yolks to a large bowl. Add mayonnaise,
          Dijon, lemon juice, salt, and pepper and mix to combine. Using a
          sandwich bag with the corner snipped off, pipe the mixture into the
          whites. Eggs are filled with veggies and with the filling you can
          create your own combination according to your liking.
         </p>
        </div>
       </div>
       <div class="link">
        <a
         href="https://www.womansday.com/food-recipes/food-drinks/recipes/a55348/deviled-eggs-sailboats-recipe/"
         >Watch this</a
        >
       </div>
      </div>
     </div>
     <div class="webpage" id="foodies">
      <div class="pizzahutscroll">
       <div class="webpage-image pizzahu">
        <h1>Boiled Chicken</h1>
       </div>
       <div class="webpage-content">
        <div class="about-website">
         <h2>about :</h2>
         <p>
          Place chicken in a large pot with onion, carrots, celery and
          peppercorns; add water to cover. Cover pot and bring to a boil; reduce
          heat to a gentle boil and cook for about 90 minutes, or until chicken
          meat is falling off of the bone. Remove chicken, let cool and shred or
          chop the meat.
         </p>
        </div>
       </div>
       <div class="link">
        <a href="https://www.allrecipes.com/recipe/20455/boiled-chicken/"
         >Watch this</a
        >
       </div>
      </div>
     </div>
     <div class="webpage" id="cheat">
      <div class="kfcscroll">
       <div class="webpage-image kf">
        <h1>Panner Pizza</h1>
       </div>
       <div class="webpage-content">
        <div class="about-website">
         <h2>about :</h2>
         <p>
          Paneer pizza recipe with step by step pics. This is a yum & delicious
          homemade paneer pizza made with toppings of paneer and mix veggies.
          The recipe shared shows how to make the pizza dough and then bake the
          pizza in an oven. For the pizza sauce, I always use homemade Pizza
          sauce. though you can also add store brought tomato pizza sauce.
         </p>
        </div>
       </div>
       <div class="link">
        <a href="https://www.vegrecipesofindia.com/paneer-pizza-recipe/"
         >Watch this</a
        >
       </div>
      </div>
     </div>
     <div class="webpage" id="comingsoon">
      <div class="foodpandascroll">
       <div class="webpage-image foodpand">
        <h1>Chicken Salad</h1>
       </div>
       <div class="webpage-content">
        <div class="about-website">
         <h2>about :</h2>
         <p>
          Classic Chicken Salad This family favorite chicken salad is made with
          celery, bell pepper, green olives, apple, lettuce, and mayo plus a
          secret ingredient that makes all the difference
         </p>
         <p>
          The "secret sauce," so to speak, of this chicken salad, is the
          tablespoon of plum preserves my mom adds to the mayo-based dressing.
          You could use any berry jelly or jam, but as we always have a lot of
          plum jam on hand (thanks to several plum trees), that's what mom
          reaches for first
         </p>
        </div>
       </div>
       <div class="link">
        <a href="https://www.simplyrecipes.com/recipes/chicken_salad/"
         >Coming soon</a
        >
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <script src="./app.js"></script>
 </body>
</html>
