<div class="resp">
 <h1>
  Working on responsiveness 🥺. For now please access it from a Laptop/PC.
 </h1>
 <h1>
  If you are on a laptop/PC still viewing this message please lower you browser
  size to 80% it will work
 </h1>
</div>
