<!DOCTYPE html>
<html>
 <%- include('particals/head/head-login'); -%>
 <body>
  <%- include('particals/nav/nav-signup.ejs'); -%>

  <div class="sign-up">
   <div class="text-floating signup-ani">
    <h1>SIGN UP</h1>
   </div>
   <div class="form-container">
    <form action="/signup">
     <div class="heading">
      <h2>Sign up</h2>
     </div>
     <div class="password error"></div>
     <div class="email error"></div>
     <div class="emailInput">
      <label for="email">Email</label>
      <input
       type="text"
       name="email"
       autocomplete="none"
       placeholder="xyz@abc.com"
       required
      />
     </div>
     <div class="passwordInput">
      <label for="password">Password</label>
      <input
       type="password"
       autocomplete="none"
       name="password"
       placeholder="Your password"
       required
      />
     </div>
     <div class="submit">
      <button>Sign up</button>
     </div>
    </form>
   </div>
  </div>

  <script>
   const form = document.querySelector('form');
   const emailError = document.querySelector('.email.error');
   const passwordError = document.querySelector('.password.error');
   form.addEventListener('submit', async (e) => {
    e.preventDefault();
    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';
    // get values
    const email = form.email.value;
    const password = form.password.value;
    try {
     const res = await fetch('/signup', {
      method: 'POST',
      body: JSON.stringify({ email, password }),
      headers: { 'Content-Type': 'application/json' },
     });
     const data = await res.json();
     console.log(data);
     if (data.errors) {
      emailError.textContent = data.errors.email;
      passwordError.textContent = data.errors.password;
     }
     if (data.user) {
      location.assign('/');
     }
    } catch (err) {
     console.log(err);
    }
   });
  </script>
 </body>
</html>
