<nav>
  <div class="logo">
    <a href="/"><img src="./media/logo.png" alt="Foodies" /></a>
  </div>
  <div class="navLinks">
    <a href="/cooking">Cooking</a>
    <a href="/order">order</a>
    <a href="/contact">Contact</a>
  </div>
</nav>
