<head>
 <!-- all meta tags -->
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="stylesheet" href="./styles/style-global.css" />
 <link rel="stylesheet" href="./styles/style-about.css" />
 <link rel="stylesheet" href="./styles/style-nav.css" />
 <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
 />
 <link
  rel="apple-touch-icon"
  sizes="180x180"
  href="./media/Fav/apple-touch-icon.png"
 />
 <link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="./media/Fav/favicon-32x32.png"
 />
 <link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="./media/Fav/favicon-16x16.png"
 />
 <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
 />
 <link rel="manifest" href="./media/Fav/site.webmanifest" />
 <title>Foodies</title>
</head>
