/* contact section */
.extra-spacing {
 width: 100%;
 height: 20vh;
}
.contact-section {
 width: 100%;
 height: 100vh;
 padding: 5rem 5rem;
}
.contact-section .form-section {
 height: 90vh;
 width: 100%;
}

.form-section .form-header {
 height: 6vh;
 width: 100%;
}

.form-section .all-form {
 padding: 1rem 0.5rem;
 width: 100%;
 height: 80vh;
 display: flex;
 justify-content: space-between;
}

.form-section .left-form {
 width: 49.5%;
 height: 100%;
}
.form-section .right-form {
 width: 49.5%;
 height: 100%;
}

.left-form form {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

form .contact-form-header {
 width: 100%;
 height: 10%;
 display: flex;
 justify-content: center;
 align-items: center;
}

form .name,
form .email.contact,
form .subject,
form .message {
 width: 100%;
 height: 15%;
 width: 80%;
 margin: auto;
 display: flex;
 justify-content: space-around;
 flex-direction: column;
}

form .submit {
 width: 100%;
 height: 15%;
 display: flex;
 justify-content: center;
 align-items: center;
}

input[type='text'],
input[type='email'],
textarea {
 padding: 5px;
 font-family: 'poppins', sans-serif;
 color: #e4e4e4;
 background-color: #383838c2;
 border: none;
 outline: none;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 1px solid transparent;
 transition: all 150ms ease-in-out;
}
input[type='text']:focus,
input[type='text']:hover,
input[type='email']:focus,
input[type='email']:hover,
textarea:hover,
textarea:focus {
 background-color: #24232394;
 outline: none;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 1px solid white;
}

input[type='submit'] {
 width: 15%;
 background-color: transparent;
 padding: 7px;
 color: #e4e4e4;
 font-family: 'poppins', sans-serif;
 font-weight: 700;
 letter-spacing: 1px;
 cursor: pointer;
 border: 1px solid #fff;
 transition: all 250ms ease-in-out;
}

input[type='submit']:hover,
input[type='submit']:focus {
 background-color: #ffffff;
 color: black;
}

.right-form .right-link-header {
 width: 100%;
 height: 10%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.links {
 width: 100%;
 height: 90%;
 display: flex;
 flex-direction: space-around;
 flex-direction: column;
}
.ayush,
.arnold {
 width: 100%;
 height: 50%;
}

.ayush .name-link,
.arnold .name-link {
 width: 100%;
 height: 20%;
 text-align: center;
}

.ayush .name-link h1,
.arnold .name-link h1 {
 font-size: 25px;
}

.ayush .social-links,
.arnold .social-links {
 width: 100%;
 height: 30%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.ayush .social-links .all-social-links,
.arnold .social-links .all-social-links {
 width: 20%;
 height: 100%;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.ayush .social-links .all-social-links i,
.arnold .social-links .all-social-links i {
 font-size: 32px;
 text-decoration: none;
 color: #858585;
 transition: all 250ms ease-in-out;
}
.ayush .social-links .all-social-links i:hover,
.ayush .social-links .all-social-links i:focus,
.arnold .social-links .all-social-links i:focus,
.arnold .social-links .all-social-links i:hover {
 color: #ffffff;
}

.arnold .img,
.ayush .img {
 width: 100%;
 height: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.arnold .img img,
.ayush .img img {
 width: 20%;
 height: 100%;
 object-fit: cover;
}
