/* font Links */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

::-webkit-scrollbar {
 width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 color: #e4e4e4;
 scroll-behavior: smooth;
}

nav {
 z-index: 10;
 position: fixed;
 width: 100%;
 height: 20vh;
 display: flex;
 justify-content: space-around;
 position: fixed;
 align-items: center;
 transition: all 150ms ease-in-out;
 background: transparent;
}

.logo a img {
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 250ms ease-in-out;
}

nav.scrolled {
 z-index: 10;
 height: 10vh;
 background-color: #000000;
}

nav.scrolled .logo a img {
 height: 45%;
 width: 45%;
}

.nav-links {
 display: flex;
 width: 35%;
 justify-content: space-around;
}

.burger {
 cursor: pointer;
 display: none;
}

.burger > div {
 width: 25px;
 height: 3px;
 margin: 5px;
 background-color: #f4f4f4;
 transition: all 0.5s ease;
}

.nav-links a {
 color: #d3d3d3;
 text-decoration: none;
 letter-spacing: 1px;
 z-index: 1;
 position: relative;
 transition: color 250ms ease-in-out;
 padding: 5px;
}

.nav-links a::before {
 content: '';
 position: absolute;
 z-index: -1;
 height: 2px;
 background-color: #00c2c2;
 bottom: 0;
 left: 0;
 right: 0;
 transform: scaleX(0);
 transition: all 200ms ease-in-out;
 transform-origin: left;
}

.nav-links a:hover::before,
.nav-links a:focus::before {
 transform: scaleX(1);
}

.nav-links a:hover {
 color: #fff;
}

body {
 background-color: rgb(0, 0, 0);
 font-family: 'poppins', sans-serif;
}

.meal-home {
 position: relative;
 width: 100%;
 height: 100vh;
 background: url('../media/Meals.jpg');
 background-attachment: fixed;
 background-repeat: none;
 background-position: center;
 background-size: cover;
 filter: brightness(0.6);
 box-shadow: 0 0 200px rgba(0, 0, 0, 0.952) inset;
 display: flex;
 justify-content: center;
}

.recipe-home {
 position: relative;
 width: 100%;
 height: 100vh;
 background: url('../media/recipe.jpg');
 background-attachment: fixed;
 background-repeat: none;
 background-position: center;
 background-size: cover;
 filter: brightness(0.6);
 box-shadow: 0 0 200px rgba(0, 0, 0, 0.952) inset;
 display: flex;
 justify-content: center;
}

.scroll {
 position: absolute;
 bottom: 2%;
}

.all-websites {
 width: 100%;
 height: 600vh;
 display: flex;
 box-shadow: 0 0 200px rgba(71, 71, 71, 0.438) inset;
 transition: all 150ms ease-in-out;
}

.fixed-section {
 position: sticky;
 top: 10vh;
 left: 0;
 width: 30vw;
 height: 90vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.container-index {
 width: 95%;
 height: 90%;
 background: rgba(78, 78, 78, 0.356);
 border-radius: 15px;
 display: flex;
 flex-direction: column;
}

.header-index {
 width: 100%;
 height: 15%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.content-index-website {
 width: 100%;
 height: 85%;
 display: flex;
 justify-content: space-around;
 flex-direction: column;
 align-items: center;
}

.content-index-website a {
 text-decoration: none;
 padding: 1rem 5rem;
 color: rgb(153, 152, 152);
 font-size: 20px;
 transition: all 150ms ease-in-out;
}

.content-index-website a:hover {
 color: #fff;
}

.webpage {
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.zomatoscroll,
.swiggyscroll,
.dominosscroll,
.pizzahutscroll,
.kfcscroll,
.foodpandascroll {
 margin-top: 10vh;
 width: 90%;
 height: 80%;
 border-radius: 15px;
 background: #202020;
}

.webpage-image {
 width: 100%;
 height: 20%;
 margin: auto;
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.webpage-image.zomat {
 background: rgb(218, 19, 19);
}
.webpage-image.swigg {
 background: rgb(255, 153, 1);
}
.webpage-image.domino {
 background: rgb(2, 112, 255);
}
.webpage-image.pizzahu {
 background: rgb(218, 19, 19);
}
.webpage-image.kf {
 background: rgb(216, 216, 216);
}
.webpage-image.foodpand {
 background: rgb(255, 7, 160);
}

.webpage-image h1 {
 font-size: 35px;
}

.kf h1 {
 color: black;
}

.webpage-content {
 width: 100%;
 height: 65%;
 padding: 1rem 1rem;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.webpage-content .about-website {
 width: 100%;
 height: 50%;
 padding: 1rem;
}

.webpage-content .about-website p {
 padding: 1rem;
}

.webpage-content .benefits {
 width: 100%;
 height: 50%;
 padding: 1rem;
}

.webpage-content .benefits p {
 padding: 1rem;
}

.scroll-section {
 width: 70%;
 height: 100%;
}

.link {
 width: 100%;
 height: 15%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.link a {
 text-decoration: none;
 border: 1px solid white;
 padding: 1rem;
 transition: all 150ms ease-in-out;
}

.link a:hover {
 background-color: white;
 color: black;
}

.web .scroll-section {
 width: 70%;
 height: 100%;
}

.animation-bounce {
 animation: bounce 3s infinite;
}

@keyframes bounce {
 0% {
  transform: translateY(0);
 }
 30% {
  transform: translateY(-50px);
 }
 50% {
  transform: translateY(5px);
 }
 70% {
  transform: translateY(-25px);
 }
 80% {
  transform: translateY(2px);
 }
 90% {
  transform: translateY(-15px);
 }
 100% {
  transform: translateY(0);
 }
}
