body {
 overflow: hidden;
}

.extra-spacing {
 width: 100%;
 height: 10vh;
}

.add-own {
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.add-own-body {
 width: 70%;
 height: 60%;
 display: flex;
}

.add-own-body .instructions {
 width: 50%;
 height: 100%;
 border: 1px solid white;
 display: flex;
 flex-direction: column;
}

.instructions .header-instructions {
 width: 100%;
 height: 20%;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
}

.instructions .header-instructions h1 {
 color: rgb(255, 255, 255);
}

.instructions .instructions-container {
 width: 100%;
 height: 80%;
}

.instructions .instructions-container ol {
 width: 90%;
 height: 100%;
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.add-own-body .form-container {
 width: 50%;
 height: 100%;
 border: 1px solid white;
}

.form-container .heading {
 width: 100%;
 height: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.form-container-border {
 width: 100%;
 height: 80%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.form-container-border form {
 border: 1px solid white;
 width: 80%;
 height: 70%;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 background: red;
}

form .emailInput {
 width: 100%;
 height: 40%;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

form .linkInput {
 width: 100%;
 height: 40%;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

form .submit {
 width: 100%;
 height: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
}

label {
 width: 80%;
 margin: 0 auto;
}

input[type='text'] {
 padding: 5px;
 width: 80%;
 margin: 0 auto;
 border: 1px solid white;
 background-color: black;
 font-family: 'poppins', sans-serif;
}

input[type='text']:hover,
input[type='text']:focus {
 outline: none;
}

input[type='submit'] {
 padding: 5px 12px;
 background: transparent;
 color: white;
 border: 1px solid white;
 cursor: pointer;
 font-family: 'poppins', sans-serif;
 transition: all 250ms ease-in-out;
}

input[type='submit']:hover {
 transform: scale(1.05);
 background-color: white;
 color: black;
}
