<nav id="nav">
 <div class="logo scrolled">
  <a href="/"><img src="./media/new_logo.png" alt="Foodies" /></a>
 </div>
 <div class="nav-links scrolled">
  <a href="/cooking">Cooking</a>
  <a href="/order">Order</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
 </div>
 <div class="burger">
  <div class="line1"></div>
  <div class="line2"></div>
  <div class="line3"></div>
 </div>
</nav>
