<nav id="nav">
 <div class="logo scrolled">
  <a href="/"><img src="./media/foodies_white.png" alt="Foodies" /></a>
 </div>
 <div class="nav-links scrolled">
  <% if (user) { %>
  <a>Welcome, <%= user.email %></a>
  <a href="/#cat">Features</a>
  <a href="/logout">Log out</a>
  <% } else { %>
  <a href="/login">Log in</a>
  <a href="/signup">Sign up</a>
  <a href="/#cat">Features</a>
  <% } %>
 </div>
 <div class="burger">
  <div class="line1"></div>
  <div class="line2"></div>
  <div class="line3"></div>
 </div>
</nav>
