<nav id="nav">
 <div class="logo scrolled">
  <a href="/"><img src="./media/foodiesLoged.png" alt="Foodies" /></a>
 </div>
 <div class="nav-links scrolled">
  <a class="login-theme" href="/signup">Signup</a>
  <a class="login-theme" href="/about">About</a>
  <a class="login-theme" href="/contact">Contact</a>
 </div>
 <div class="burger">
  <div class="line1"></div>
  <div class="line2"></div>
  <div class="line3"></div>
 </div>
</nav>
